@import url("https://fonts.googleapis.com/css?family=Cormorant:400,500,700|Old+Standard+TT:400,700&display=swap");
img {
  width: 20px; }

figcaption {
  font-weight: 300; }

.menu-meals-images figure .menu-meals_image1 {
  object-position: center 70%; }

.menu-meals-images figure .menu-meals_image1 {
  object-position: center 90%; }

.menu-meals-images figure .menu-meals_image2 {
  object-position: center 30%; }

.menu-coffee-images figure .menu-coffee_image2 {
  object-position: center 100%; }

.menu-coffee-images figure .menu-coffee_image5 {
  object-position: center 60%; }

.hide {
  display: none; }

.coffee-fig-active {
  grid-column: 1/3;
  grid-row: 1/2;
  grid-column: span 2;
  position: relative;
  height: 320px; }
  .coffee-fig-active figcaption {
    display: flex !important;
    position: absolute;
    height: 50%;
    width: 100%;
    top: 25%;
    color: #fff;
    z-index: 5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(88, 155, 125, 0.7); }

.meal-fig-active {
  grid-column: 1/3;
  grid-row: 1/2;
  grid-column: span 2;
  position: relative;
  height: 270px; }
  .meal-fig-active figcaption {
    display: flex !important;
    position: absolute;
    height: 50%;
    width: 100%;
    top: 25%;
    color: #fff;
    z-index: 5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(88, 155, 125, 0.7); }

.nav-is-open {
  height: 100vh;
  overflow-y: hidden;
  /*
  .container-all {
    transform: translateX(80%);
  }

  .menu-button {
    transform: translateX(70%);
  }
  */ }
  .nav-is-open nav {
    transform: translateX(0); }

body {
  font-family: "Cormorant", serif;
  font-size: 20px;
  letter-spacing: 0;
  font-weight: 600; }

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container-all {
  width: 100%; }

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 15%;
  z-index: 10;
  transform: translateX(-100%);
  transition: transform ease-in-out 250ms; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    background: #65a88a;
    align-items: stretch; }
    nav ul li {
      z-index: 10;
      text-align: center; }
      nav ul li:not(:last-of-type) {
        border-bottom: 1px solid #545454; }
      nav ul li:hover {
        background: #85baa2; }
      nav ul li a {
        display: inline-block;
        text-decoration: none;
        padding: calc(100vh / 10) 0;
        line-height: 0;
        width: 100%;
        color: #000; }

.welcome-hero {
  background: url(../img/coffee-shop.jpg);
  background-position: 0 50%;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }
  .welcome-hero:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .welcome-hero_info {
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 32%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .welcome-hero_info .text-wrapper {
      height: 80%;
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }

.welcome .nav-info {
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  padding: 0.5em 0;
  top: 0;
  display: flex;
  justify-content: space-between; }
  .welcome .nav-info .menu-btn {
    z-index: 3;
    margin-left: 2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .welcome .nav-info .menu-btn .btn-line {
      width: 100%;
      height: 2px;
      background: #12100e;
      transition: all 0.5s ease-out; }
    .welcome .nav-info .menu-btn.close {
      transform: rotate(180deg); }
      .welcome .nav-info .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 4px); }
      .welcome .nav-info .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .welcome .nav-info .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); }
  .welcome .nav-info_p {
    display: none; }
  .welcome .nav-info-social {
    flex-basis: 90%;
    display: flex;
    justify-content: flex-end; }
    .welcome .nav-info-social a {
      z-index: 3;
      color: #12100e;
      cursor: pointer; }
      .welcome .nav-info-social a:hover {
        transition: all 0.5s ease-out;
        color: #545454; }
      .welcome .nav-info-social a i {
        margin-right: 2rem; }

.about-coffee_info .info-wrapper {
  display: flex;
  margin: 0 auto;
  padding: 2.5rem 0;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about-coffee_info .info-wrapper p {
    text-align: center;
    color: #545454;
    margin-top: 0.5rem; }

.about-coffee_image {
  width: 100%;
  position: relative; }
  .about-coffee_image::before {
    content: 'Arabica from Columbia and Ethiopia';
    position: absolute;
    z-index: 4;
    display: block;
    width: 100%;
    top: 0;
    text-align: center;
    background-color: rgba(88, 155, 125, 0.7);
    color: #fff;
    height: 50px;
    line-height: 50px; }
  .about-coffee_image::after {
    content: 'Robusta from Brazil and Nigeria';
    position: absolute;
    text-align: center;
    margin: 0 auto;
    z-index: 4;
    display: block;
    width: 100%;
    bottom: 5px;
    background-color: rgba(88, 155, 125, 0.7);
    color: #fff;
    height: 50px;
    line-height: 50px; }
  .about-coffee_image img {
    width: 100%; }

.about-meals_info .info-wrapper {
  display: flex;
  margin: 0 auto;
  padding: 2.5rem 0;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about-meals_info .info-wrapper p {
    text-align: center;
    color: #545454;
    margin-top: 0.5rem;
    width: 80%; }

.about-meals_image {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: [imgFirs-start] 1fr [imgSecond-start] 1fr [imgFirs-end] 1fr [imgSecond-end]; }
  .about-meals_image img {
    width: 100%; }
    .about-meals_image img:first-child {
      grid-column: imgFirs-start/imgFirs-end;
      grid-row: 1/3;
      z-index: 5; }
    .about-meals_image img:last-child {
      grid-column: imgSecond-start/imgSecond-end;
      grid-row: 2/4; }

.menu-coffee h2 {
  text-align: center;
  padding: 3.5rem 0 2.5rem 0; }

.menu-coffee-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0; }
  .menu-coffee-images figure {
    order: 2; }
    .menu-coffee-images figure img {
      z-index: 10;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .menu-coffee-images figure figcaption {
      display: none; }
      .menu-coffee-images figure figcaption p {
        text-align: center; }
    .menu-coffee-images figure:hover {
      transition: all 0.5s ease-out;
      filter: brightness(70%); }

.menu-coffee_footer {
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .menu-coffee_footer button {
    background-color: #fff;
    border: 1px #12100e solid;
    border-radius: 0.9rem;
    color: #12100e;
    padding: 0.7rem 1rem;
    font-size: 16px;
    cursor: pointer;
    margin: 0 1rem; }
    .menu-coffee_footer button:hover {
      transition: all 0.5s ease-out;
      background: rgba(88, 155, 125, 0.7);
      border: 1px #fff solid; }

.menu-meals h2 {
  text-align: center;
  padding: 1.5rem 0 2.5rem 0; }

.menu-meals-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0; }
  .menu-meals-images figure {
    order: 2; }
    .menu-meals-images figure img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .menu-meals-images figure figcaption {
      display: none; }
      .menu-meals-images figure figcaption p {
        text-align: center; }
    .menu-meals-images figure:hover {
      transition: all 0.5s ease-out;
      filter: brightness(70%); }

.menu-meals_footer {
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .menu-meals_footer button {
    background-color: #fff;
    border: 1px #12100e solid;
    border-radius: 0.9rem;
    color: #12100e;
    padding: 0.7rem 1rem;
    font-size: 16px;
    cursor: pointer;
    margin: 0 1rem; }
    .menu-meals_footer button:hover {
      transition: all 0.5s ease-out;
      background: rgba(88, 155, 125, 0.7);
      border: 1px #fff solid; }

.location {
  padding-bottom: 2rem; }
  .location h2 {
    text-align: center;
    padding: 1rem 0 0.5rem 0; }
  .location .map {
    height: 350px;
    width: 100%;
    display: flex; }

footer {
  margin: 3rem 0 1rem 0;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-around;
  position: relative; }
  footer::before {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    background-color: #7a7a7a;
    height: 1px;
    top: -15px; }
  footer p {
    font-size: 12px; }

@media screen and (min-width: 630px) {
  .welcome .nav-info .menu-btn {
    flex-basis: 7%; }
  .about-coffee_image {
    margin: 0 auto;
    width: 70%; }
  .about-meals_image {
    width: 70%; }
  .coffee-fig-active {
    height: 400px; }
  .meal-fig-active {
    height: 400px; }
  footer p {
    font-size: 16px; } }

@media screen and (min-width: 630px) {
  .about-coffee_image {
    width: 50%; }
  .about-meals_image {
    width: 50%; }
  .menu-coffee-images {
    grid-template-columns: none; }
    .menu-coffee-images .coffee-fig {
      grid-row: 1; }
    .menu-coffee-images .coffee-fig-active {
      grid-row: 1;
      height: auto; }
    .menu-coffee-images p,
    .menu-coffee-images h3 {
      color: #fff; }
    .menu-coffee-images figure {
      position: relative; }
      .menu-coffee-images figure figcaption {
        display: flex !important;
        position: absolute;
        height: 20%;
        width: 100%;
        top: 40%;
        color: #fff;
        z-index: 5;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(88, 155, 125, 0.7);
        font-size: 15px; }
        .menu-coffee-images figure figcaption p {
          display: none; }
    .menu-coffee-images .coffee-fig-active {
      height: 350px; }
      .menu-coffee-images .coffee-fig-active figcaption {
        display: flex !important;
        position: absolute;
        height: 50%;
        width: 100%;
        top: 25%;
        color: #fff;
        z-index: 5;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(88, 155, 125, 0.7);
        font-size: 20px; }
        .menu-coffee-images .coffee-fig-active figcaption p {
          display: initial; }
  .menu-meals-images {
    grid-template-columns: none; }
    .menu-meals-images .meal-fig {
      grid-row: 1; }
    .menu-meals-images .meal-fig-active {
      grid-row: 1; }
    .menu-meals-images p,
    .menu-meals-images h3 {
      color: #fff; }
    .menu-meals-images figure {
      position: relative; }
      .menu-meals-images figure figcaption {
        display: flex !important;
        position: absolute;
        height: 20%;
        width: 100%;
        top: 40%;
        color: #fff;
        z-index: 5;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(88, 155, 125, 0.7);
        font-size: 15px; }
        .menu-meals-images figure figcaption p {
          display: none; }
    .menu-meals-images .meal-fig-active {
      height: 350px; }
      .menu-meals-images .meal-fig-active figcaption {
        display: flex !important;
        position: absolute;
        height: 50%;
        width: 100%;
        top: 25%;
        color: #fff;
        z-index: 5;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(88, 155, 125, 0.7);
        font-size: 20px; }
        .menu-meals-images .meal-fig-active figcaption p {
          display: initial; }
  footer p {
    font-size: 18px; } }

@media screen and (min-width: 1024px) {
  p,
  h3 {
    color: #545454; }
  .hide {
    display: block; }
  .welcome {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 100vh; }
    .welcome-hero {
      flex-basis: 95%;
      height: 89vh;
      margin: 45px 0px 0 45px;
      background-position: 0 20%; }
      .welcome-hero_info {
        background: #fff;
        width: 35%;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px; }
        .welcome-hero_info .text-wrapper {
          height: 70%;
          width: 85%;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
    .welcome .nav-info {
      position: relative;
      flex-basis: 5%;
      flex-direction: column;
      justify-content: space-between;
      height: 59.6vh;
      margin: 45px 15px 0 15px;
      padding: 0; }
      .welcome .nav-info .menu-btn {
        margin-left: 0;
        padding: 0;
        flex-basis: 4%;
        width: 35%;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .welcome .nav-info .menu-btn .btn-line {
          background: #545454; }
      .welcome .nav-info_text {
        display: flex;
        z-index: 5;
        flex-basis: 50%;
        width: 20px;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        justify-content: space-between; }
        .welcome .nav-info_text p {
          transform: rotate(90deg);
          display: initial;
          white-space: nowrap;
          font-size: 15px; }
      .welcome .nav-info-social {
        flex-basis: 27%;
        flex-direction: column;
        align-self: center;
        text-align: center; }
        .welcome .nav-info-social a i {
          color: #545454;
          margin-right: 0; }
        .welcome .nav-info-social a:first-child {
          margin-bottom: 0.5rem; }
  .about p {
    font-size: 23px; }
  .about-coffee {
    display: flex;
    padding-top: 7rem;
    justify-content: space-evenly; }
    .about-coffee_info {
      flex-basis: 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .about-coffee_info .info-wrapper {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start; }
        .about-coffee_info .info-wrapper p {
          text-align: initial;
          color: #545454;
          padding-top: 1rem; }
      .about-coffee_info img {
        width: 200px; }
    .about-coffee_image {
      flex-basis: 40%;
      position: relative;
      margin: 0 65px 0 0;
      text-align: center; }
      .about-coffee_image::before {
        width: 200px;
        height: 150px;
        top: 10%;
        right: -65px;
        line-height: 30px;
        padding: 2.6rem 0.5rem 0 0.5rem;
        background-color: rgba(88, 155, 125, 0.7);
        color: #fff; }
      .about-coffee_image::after {
        width: 200px;
        height: 150px;
        bottom: 10%;
        left: -65px;
        line-height: 30px;
        padding: 2.6rem 0.5rem 0 0.5rem;
        background-color: rgba(88, 155, 125, 0.7);
        color: #fff; }
      .about-coffee_image img {
        width: 400px; }
  .about-meals {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 8.5rem;
    justify-content: space-evenly; }
    .about-meals_info {
      flex-basis: 45%;
      position: relative; }
      .about-meals_info .info-wrapper {
        display: block;
        margin: 0;
        padding: 0;
        text-align: start; }
        .about-meals_info .info-wrapper p {
          text-align: start;
          padding-top: 1rem; }
      .about-meals_info img {
        position: absolute;
        right: 21px;
        width: 350px;
        top: 200px;
        transform: rotate(-90deg); }
    .about-meals_image {
      flex-basis: 35%;
      grid-template-columns: [imgFirs-start] 1fr [imgSecond-start] 1fr [imgFirs-end] 1fr [imgSecond-end]; }
      .about-meals_image img {
        width: 100%; }
        .about-meals_image img:first-child {
          grid-column: imgFirs-start/imgFirs-end;
          grid-row: 1/3;
          z-index: 5; }
        .about-meals_image img:last-child {
          grid-column: imgSecond-start/imgSecond-end;
          grid-row: 2/4; }
  .menu-coffee {
    padding: 5rem 0 2rem 0; }
    .menu-coffee-images .coffee-fig-active {
      height: 350px; }
    .menu-coffee_footer h3 {
      color: #000; }
  .menu-meals {
    padding: 1rem 0 2rem 0; }
    .menu-meals-images p,
    .menu-meals-images h3 {
      color: #fff; }
    .menu-meals-images .meal-fig-active {
      height: 350px; }
    .menu-meals_footer h3 {
      color: #000; }
  .location {
    padding: 1rem 0 4rem 0; }
    .location h2 {
      padding-bottom: 2.5rem; }
    .location .map {
      width: 85%;
      margin: 0 auto;
      height: 400px; } }

@media screen and (min-width: 1250px) {
  .about-coffee_image::before {
    right: -35px; }
  .about-coffee_image::after {
    left: -35px; }
  .about-meals #leaves-green {
    top: 250px; }
  .about-meals_image {
    flex-basis: 30%; }
  .menu-coffee-images .coffee-fig-active {
    height: 440px; }
  .menu-meals-images .meal-fig-active {
    height: 440px; } }
