@import url('https://fonts.googleapis.com/css?family=Cormorant:400,500,700|Old+Standard+TT:400,700&display=swap');
$white: #ffffff;
$black: #12100e;
$gray: #545454;
$green: #589b7d;
$brown: #73432d;
$font-main: 'Cormorant', serif;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin easeIn {
  transition: all 0.5s ease-in;
}

img {
  width: 20px;
}

figcaption {
  font-weight: 300;
}

.menu-meals-images figure .menu-meals_image1 {
  object-position: center 70%;
}

.menu-meals-images figure .menu-meals_image1 {
  object-position: center 90%;
}
.menu-meals-images figure .menu-meals_image2 {
  object-position: center 30%;
}
.menu-coffee-images figure .menu-coffee_image2 {
  object-position: center 100%;
}
.menu-coffee-images figure .menu-coffee_image5 {
  object-position: center 60%;
}

@mixin mediaSm {
  @media screen and (min-width: 630px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (min-width: 800px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin mediaXLg {
  @media screen and (min-width: 1250px) {
    @content;
  }
}
